<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="dev,prod">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>logstash-host:5000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>

    <springProfile name="local,test">
        <property name="LOG_PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{ip}] [%X{method} %X{uri} %X{agent}] %logger{36} - %msg%n"/>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
